    <%- include('./partials/header') %>
    <main>
    <h1><%= titulo %></h1>
     <%= cursos %>  <!--Recebe cada propriedade como se fosse uma variável, por isso pode ser declarado somente o nome da propriedade, ao invés de info.cursos -->
    </main>
    <%- include('./partials/footer') %>
