<!DOCTYPE html>
<html>
  <head>
    <title>AAAA</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
      <img src="/images/Petclick-logo.png" alt="Petclick-logo">
      <nav>
        <ul>
          <li><a href="/">Cursos</a></li>
          <li><a href="/contato">Contato</a></li>
          <li><a href="/estudantes">Estudantes</a></li>
        </ul>
      </nav>
    </header>